In [97]:
import pandas as pd
import numpy as np

df2 = pd.read_excel(r"P:\Indicadores\Diagnóstico\Venda\Venda Associados\Análise associados - setores atualizado.xlsx", sheet_name="SETEMBRO 2025")

In [98]:
df2 = df2.loc[126:139]

#PADRAO [1:18]
#GMAP[21:43]
#ALVORADA [46:81]
#TORRE [99:123]
#FLORESTA [126:139]

In [99]:
df2.loc[126:139]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
126,NaN,ANÁLISE FLORESTA - MÊS DE SETEMBRO 2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,EMPRESAS,TOTAL LOJA,NaN,NaN,NaN,AÇOUGUE,NaN,NaN,NaN,...,NaN,NaN,NaN,MERCEARIA,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,Venda,% Mark Down,PART%,NaN,Venda,% Mark Down,PART%,NaN,...,% Mark Down,PART%,NaN,Venda,% Mark Down,PART%,NaN,NaN,NaN,NaN
129,NaN,LOJA 01 :,216677.31,0.239241,0.008575,NaN,0,0,0,NaN,...,0.2723,0.008023,NaN,211784.66,0.238606,0.97742,NaN,NaN,NaN,NaN
130,NaN,LOJA 02 :,1915372.85,0.257596,0.075802,NaN,336571.64,0.2013,0.175721,NaN,...,0.2792,0.017385,NaN,877072.1,0.246518,0.457912,NaN,NaN,NaN,NaN
131,NaN,LOJA 03 :,867515.75,0.220344,0.034332,NaN,138460.86,0.1741,0.159606,NaN,...,0.2104,0.020655,NaN,440767.77,0.216109,0.50808,NaN,NaN,NaN,NaN
132,NaN,LOJA 04 :,2304887.95,0.250466,0.091217,NaN,400295.65,0.2008,0.173672,NaN,...,0.2479,0.01607,NaN,1106088.15,0.249305,0.479888,NaN,NaN,NaN,NaN
133,NaN,LOJA 05 :,4195812.28,0.257916,0.166052,NaN,743656.01,0.1919,0.177238,NaN,...,0.2497,0.019697,NaN,1800748.22,0.239391,0.429177,NaN,NaN,NaN,NaN
134,NaN,LOJA 07 :,2097513.11,0.214368,0.08301,NaN,283556.01,0.1685,0.135187,NaN,...,0.185,0.01283,NaN,1099090.3,0.21392,0.523997,NaN,NaN,NaN,NaN
135,NaN,LOJA 10 :,2317891.4,0.238356,0.091732,NaN,371537.05,0.1997,0.160291,NaN,...,0.2479,0.024533,NaN,1141588.87,0.233614,0.492512,NaN,NaN,NaN,NaN
136,NaN,LOJA 12 :,3020968.26,0.223382,0.119557,NaN,423536.53,0.1576,0.140199,NaN,...,0.2272,0.014728,NaN,1580411.03,0.222598,0.523147,NaN,NaN,NaN,NaN
137,NaN,LOJA 24 :,2175479.9,0.26987,0.086096,NaN,338742.6,0.1982,0.155709,NaN,...,0.2451,0.013688,NaN,974658.09,0.262385,0.44802,NaN,NaN,NaN,NaN
138,NaN,LOJA 31 :,4595383.22,0.26176,0.181865,NaN,787232.99,0.2106,0.17131,NaN,...,0.2676,0.022156,NaN,2158362.56,0.249263,0.469681,NaN,NaN,NaN,NaN
139,NaN,LOJA 36 :,1560589.84,0.244332,0.061761,NaN,280990.22,0.1839,0.180054,NaN,...,0.2527,0.017367,NaN,702374.96,0.233064,0.45007,NaN,NaN,NaN,NaN

In [100]:
df2 = df2.dropna(axis=1, how="all")

In [101]:
df2["LOJA"] ="FLORESTA"
df2["DATA"] =202509

In [102]:
a = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']]
b = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']]
c = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']]
d = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 18','Unnamed: 19', 'Unnamed: 20']]
e = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 22', 'Unnamed: 23','Unnamed: 24']]
f = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 26', 'Unnamed: 27','Unnamed: 28']]
g = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32']]
h = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 34','Unnamed: 35', 'Unnamed: 36']]
i = df2[['DATA', "LOJA",'Unnamed: 1', 'Unnamed: 38', 'Unnamed: 39','Unnamed: 40']]

In [103]:
a.columns = [[1,2,3,4,5,6]]
b.columns = [[1,2,3,4,5,6]]
c.columns = [[1,2,3,4,5,6]]
d.columns = [[1,2,3,4,5,6]]
e.columns = [[1,2,3,4,5,6]]
f.columns = [[1,2,3,4,5,6]]
g.columns = [[1,2,3,4,5,6]]
h.columns = [[1,2,3,4,5,6]]
i.columns = [[1,2,3,4,5,6]]

In [104]:
c = pd.concat([a,b,c,d,e,f,g,h,i], ignore_index=True)

In [105]:
c.columns = ["_".join([str(c) for c in col]).strip() for col in c.columns.values]

In [106]:
condicoes = [
    c["4"] == "AÇOUGUE",
    c["4"] == "CONGELADO",
    c["4"] == "FLV",
    c["4"] == "LATICINIOS",
    c["4"] == "LEITES",
    c["4"] == "PADARIA",
    c["4"] == "PEIXARIA",
    c["4"] == "SALGADOS",
    c["4"] == "MERCEARIA"
]

valores = [
    "AÇOUGUE",
    "CONGELADO",
    "FLV",
    "LATICINIOS",
    "LEITES",
    "PADARIA",
    "PEIXARIA",
    "SALGADOS",
    "MERCEARIA"
]

c["NOVO_SETOR"] = np.select(condicoes, valores, default="")

In [107]:
c.loc[c["NOVO_SETOR"] == '',"NOVO_SETOR" ] = np.nan

In [108]:
c["NOVO_SETOR"] = c["NOVO_SETOR"].ffill()

In [109]:
c = c[~c["3"].isin([np.nan,"EMPRESAS "])]
c = c[~c["4"].isin([np.nan])]

In [110]:
c = c[['1', '2', '3', 'NOVO_SETOR','4', '5', '6']]

In [111]:
c

          1         2          3 NOVO_SETOR           4         5         6
3    202509  FLORESTA  LOJA 01 :    AÇOUGUE           0         0         0
4    202509  FLORESTA  LOJA 02 :    AÇOUGUE   336571.64    0.2013  0.175721
5    202509  FLORESTA  LOJA 03 :    AÇOUGUE   138460.86    0.1741  0.159606
6    202509  FLORESTA  LOJA 04 :    AÇOUGUE   400295.65    0.2008  0.173672
7    202509  FLORESTA  LOJA 05 :    AÇOUGUE   743656.01    0.1919  0.177238
..      ...       ...        ...        ...         ...       ...       ...
121  202509  FLORESTA  LOJA 10 :  MERCEARIA  1141588.87  0.233614  0.492512
122  202509  FLORESTA  LOJA 12 :  MERCEARIA  1580411.03  0.222598  0.523147
123  202509  FLORESTA  LOJA 24 :  MERCEARIA   974658.09  0.262385   0.44802
124  202509  FLORESTA  LOJA 31 :  MERCEARIA  2158362.56  0.249263  0.469681
125  202509  FLORESTA  LOJA 36 :  MERCEARIA   702374.96  0.233064   0.45007

[99 rows x 7 columns]

In [112]:
c.to_excel(r"C:\Users\wallace.souza\Downloads\FLORESTA-9.xlsx", index=False)