In [192]:
import pandas as pd 

df = pd.read_excel(r"C:\Users\wallace.souza\Downloads\Recibo rascunho - Outubro - 2025.xlsx")

In [193]:
df.columns = df.columns.str.strip()

In [194]:
df['MARGEM'] = df['MARGEM'].astype(object)
df['RUPTURA OFERTA'] = df['RUPTURA OFERTA'].astype(object)

In [195]:
df["VALOR CASH"] = df["VALOR CASH"].fillna(0)
df['VALOR $ RECEBIDO  WIIPO'] = df['VALOR $ RECEBIDO  WIIPO'].fillna(0)

In [196]:
df.loc[df["SETOR"] == "AÇOUGUE - CORTES","CORTES"] = "V"
df.loc[df["SETOR"] == "CPD","CPD"] = "V"
df.loc[df["SETOR"] == "FRENTE DE LOJA","VENDA"] = "V"
df.loc[df["SETOR"] == "PRICE","PRICE"] = "V"
df.loc[df["SETOR"] == "COZINHA","CONSUMO"] = "V"
df.loc[df["SETOR"] == "GELADOS","VENDA GELADOS"] = "V"
df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] =="Premiação Flv - Especiarias, ref.: OUT de 2025", "VENDA"] = "V"	
df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] =="Premiação Salgados - Bacon, ref.: OUT de 2025", "VENDA"] = "V"	
df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == "Premiação Analista Comercial, ref.: OUT de 2025", "VENDA"] = "V"	
df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"].isin(['Premiação Logistica-Separadores, ref.: OUT de 2025','Premiação Logistica-Separadores-Cross, ref.: OUT de 2025']), "SEPARADORES"] = "V"
df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] ==  'Premiação Logistica-Empilhadores, ref.: OUT de 2025',"EMPILHADORES"] = "V"
df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] == 'Premiação Logistica-Arrumadores, ref.: OUT de 2025',"ARRUMADORES"] = "V"

C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["SETOR"] == "AÇOUGUE - CORTES","CORTES"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["SETOR"] == "CPD","CPD"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["SETOR"] == "FRENTE DE LOJA","VENDA"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["SETOR"] == "PRICE","PRICE"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["SETOR"] == "COZINHA","CONSUMO"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["SETOR"] == "GELADOS","VENDA GELADOS"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"].isin(['Premiação Logistica-Separadores, ref.: OUT de 2025','Premiação Logistica-Separadores-Cross, ref.: OUT de 2025']), "SEPARADORES"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] ==  'Premiação Logistica-Empilhadores, ref.: OUT de 2025',"EMPILHADORES"] = "V"
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\411906493.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] == 'Premiação Logistica-Arrumadores, ref.: OUT de 2025',"ARRUMADORES"] = "V"

In [197]:
# PADARIA


pad = df[df['SETOR'] == 'PADARIA']

pad =pad[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO',
       'QUEBRA', 'QUEBRA REGISTRADA']]

pad.loc[pad['Seqloja'].isin([1,4,8,10,11,12,13,15,17,18,19,21,22,23,24,]),'VENDA' ] = 'V'
pad.loc[pad['Seqloja'].isin([1,10,11,12,13,15,17,18,19,21,]),'LUCRO' ] = 'V'
pad.loc[pad['Seqloja'].isin([4,10,11,13,15,18,21]),'QUEBRA' ] = 'V'
pad.loc[pad['Seqloja'].isin([4,10,11,13,15,21]),'QUEBRA REGISTRADA' ] = 'V'
pad.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'PADARIA',pad.columns] = pad.values

C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2491833319.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  pad.loc[pad['Seqloja'].isin([1,10,11,12,13,15,17,18,19,21,]),'LUCRO' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2491833319.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  pad.loc[pad['Seqloja'].isin([4,10,11,13,15,18,21]),'QUEBRA' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2491833319.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  pad.loc[pad['Seqloja'].isin([4,10,11,13,15,21]),'QUEBRA REGISTRADA' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2491833319.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['V', 'X', 'X', 'V', 'X', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'PADARIA',pad.columns] = pad.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2491833319.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['X', 'V', 'V', 'V', 'X', 'V', 'X', 'X', 'V', 'V', 'X', 'V', 'X', 'V', 'X', 'X', 'X']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'PADARIA',pad.columns] = pad.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2491833319.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['X', 'V', 'V', 'V', 'X', 'V', 'X', 'X', 'V', 'V', 'X', 'X', 'X', 'V', 'X', 'X', 'X']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'PADARIA',pad.columns] = pad.values

In [198]:
#AÇOUGUE - SALGADOS

ac_sg = df[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Açougue/Salgados, ref.: OUT de 2025']

ac_sg =ac_sg[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO',
       'QUEBRA', 'QUEBRA REGISTRADA']]


ac_sg.loc[ac_sg['Seqloja'].isin([17,22,23]),'VENDA' ] = 'V'
ac_sg.loc[ac_sg['Seqloja'].isin([17,23]),'LUCRO' ] = 'V'

ac_sg.fillna("X", inplace=True)
df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Açougue/Salgados, ref.: OUT de 2025',ac_sg.columns] = ac_sg.values

In [199]:
#AÇOUGUE

ac = df[df['SETOR'] == 'AÇOUGUE']

ac =ac[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO',
       'QUEBRA', 'QUEBRA REGISTRADA']]


ac.loc[ac['Seqloja'].isin([1,3,8,10,12,13,15,19,21,24]),'VENDA' ] = 'V'
ac.loc[ac['Seqloja'].isin([10,24]),'LUCRO' ] = 'V'
ac.loc[ac['Seqloja'].isin([1,10,11,12,13,18,19,21,]),'QUEBRA' ] = 'V'
ac.loc[ac['Seqloja'].isin([10,11,12,13,19,21,]),'QUEBRA REGISTRADA' ] = 'V'
ac.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'AÇOUGUE',ac.columns] = ac.values

In [200]:
#SALGADOS

sg = df[df['SETOR'] == 'SALGADOS']

sg =sg[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO',
       'QUEBRA', 'QUEBRA REGISTRADA']]


sg.loc[sg['Seqloja'].isin([1,3,4,8,10,11,12,15,18,19,21,24]),'VENDA' ] = 'V'
sg.loc[sg['Seqloja'].isin([1,3,4,8,11,12,15,18,19,21,24]),'LUCRO' ] = 'V'
sg.loc[sg['Seqloja'].isin([1,3,4,10,11,12,13,15,18,19,21]),'QUEBRA' ] = 'V'
sg.loc[sg['Seqloja'].isin([1,3,4,10,11,12,13,15,18,21]),'QUEBRA REGISTRADA' ] = 'V'
sg.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'SALGADOS',sg.columns] = sg.values

In [201]:
#LATICINIOS

lat = df[df['SETOR'] == 'LATICÍNIOS']

lat =lat[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO','TROCA',
       'QUEBRA', 'QUEBRA REGISTRADA']]


lat.loc[lat['Seqloja'].isin([1,4,8,10,11,12,13,15,17,18,19,21,22,23,24]),'VENDA' ] = 'V'
lat.loc[lat['Seqloja'].isin([1,4,8,10,11,12,13,15,17,18,19,21,23,24]),'LUCRO' ] = 'V'
lat.loc[lat['Seqloja'].isin([1,18,19,23,24]),'TROCA' ] = 'V'
lat.loc[lat['Seqloja'].isin([4,15]),'QUEBRA' ] = 'V'
lat.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'LATICÍNIOS',lat.columns] = lat.values

C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1788514293.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  lat.loc[lat['Seqloja'].isin([1,18,19,23,24]),'TROCA' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1788514293.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'X', 'X', 'V', 'V', 'V']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'LATICÍNIOS',lat.columns] = lat.values

In [202]:
#FLV

flv = df[df['SETOR'] == 'FLV']

flv =flv[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO',
       'QUEBRA', 'QUEBRA REGISTRADA']]


flv.loc[flv['Seqloja'].isin([8,15,17,18,19,23]),'VENDA' ] = 'V'
flv.loc[flv['Seqloja'].isin([4,11,13,15,18]),'QUEBRA' ] = 'V'
flv.loc[flv['Seqloja'].isin([4,13,15,18]),'QUEBRA REGISTRADA'] = 'V'
flv.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'FLV',flv.columns] = flv.values

In [203]:
#MERCEARIA

mc = df[df['SETOR'] == 'MERCEARIA']

mc =mc[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO','TROCA',
       'QUEBRA', 'QUEBRA REGISTRADA']]


mc.loc[mc['Seqloja'].isin([1,3,11,12,17,19,21,23,24]),'VENDA' ] = 'V'
mc.loc[mc['Seqloja'].isin([1,24]),'LUCRO' ] = 'V'
mc.loc[mc['Seqloja'].isin([1,12]),'TROCA' ] = 'V'
mc.loc[mc['Seqloja'].isin([4,24]),'QUEBRA' ] = 'V'
mc.loc[mc['Seqloja'].isin([24]),'QUEBRA REGISTRADA'] = 'V'
mc.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'MERCEARIA',mc.columns] = mc.values

In [204]:
#DEPOSISTA

dp = df[df['SETOR'] == 'DEPOSISTA']

dp =dp[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'TROCA','RUPTURA GERAL', 'LITIGIO','TEMPO DE DESCARGA',
       'QUEBRA', 'QUEBRA REGISTRADA']]


dp.loc[dp['Seqloja'].isin([1]),'TROCA' ] = 'V'
dp.loc[dp['Seqloja'].isin([8]),'RUPTURA GERAL' ] = 'V'
dp.loc[dp['Seqloja'].isin([]),'LITIGIO' ] = 'V'
dp.loc[dp['Seqloja'].isin([15,22,23]),'TEMPO DE DESCARGA' ] = 'V'
dp.loc[dp['Seqloja'].isin([4,24]),'QUEBRA' ] = 'V'
dp.loc[dp['Seqloja'].isin([10,19,22,24]),'QUEBRA REGISTRADA'] = 'V'
dp.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'DEPOSISTA',dp.columns] = dp.values

C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\3125986374.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dp.loc[dp['Seqloja'].isin([8]),'RUPTURA GERAL' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\3125986374.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dp.loc[dp['Seqloja'].isin([]),'LITIGIO' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\3125986374.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dp.loc[dp['Seqloja'].isin([15,22,23]),'TEMPO DE DESCARGA' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\3125986374.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['X', 'X', 'V', 'X', 'X', 'X', 'X', 'X']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'DEPOSISTA',dp.columns] = dp.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\3125986374.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'DEPOSISTA',dp.columns] = dp.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\3125986374.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['X', 'X', 'X', 'X', 'V', 'X', 'V', 'V']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['SETOR'] == 'DEPOSISTA',dp.columns] = dp.values

In [205]:
#IFOOD

ifood = df[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025']

ifood =ifood[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
        'VENDA IFOOD', 'RUPTURA IFOOD', 'CANCELAMENTO',
       'SLA', 'CONECT RATE']]


ifood.loc[ifood['Seqloja'].isin([1,3,12,15,17,18,21,23]),'VENDA IFOOD' ] = 'V'
ifood.loc[ifood['Seqloja'].isin([1,10,12,13,15,17,18,19,21,22,23,24]),'RUPTURA IFOOD' ] = 'V'
ifood.loc[ifood['Seqloja'].isin([1,3,10,12,13,15,17,18,19,21,22,23,24]),'CANCELAMENTO' ] = 'V'
ifood.loc[ifood['Seqloja'].isin([10,12,17,19,22,24]),'SLA' ] = 'V'
ifood.loc[ifood['Seqloja'].isin([1,10,12,17,22,24]),'CONECT RATE' ] = 'V'
ifood.fillna("X", inplace=True)
df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025',ifood.columns] = ifood.values

C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ifood.loc[ifood['Seqloja'].isin([1,3,12,15,17,18,21,23]),'VENDA IFOOD' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ifood.loc[ifood['Seqloja'].isin([1,10,12,13,15,17,18,19,21,22,23,24]),'RUPTURA IFOOD' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ifood.loc[ifood['Seqloja'].isin([1,3,10,12,13,15,17,18,19,21,22,23,24]),'CANCELAMENTO' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ifood.loc[ifood['Seqloja'].isin([10,12,17,19,22,24]),'SLA' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'V' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ifood.loc[ifood['Seqloja'].isin([1,10,12,17,22,24]),'CONECT RATE' ] = 'V'
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'V', 'V', 'X', 'X', 'X', 'V', 'X', 'X', 'X']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025',ifood.columns] = ifood.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025',ifood.columns] = ifood.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025',ifood.columns] = ifood.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'X', 'X', 'V', 'V', 'V', 'X', 'V', 'V', 'V']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025',ifood.columns] = ifood.values
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\1281748854.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'V', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'V', 'V', 'V', 'X', 'V', 'V', 'V']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['REFERÊNCIA QUE GEROU O PAGAMENTO'] == 'Premiação Ifood - Loja, ref.: OUT de 2025',ifood.columns] = ifood.values

In [206]:
#COMERCIAL

comercial = df[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] == "Premiação Comercial, ref.: OUT de 2025"]

comercial =comercial[["Cadastro",'NOME DO RECEBEDOR', 'SETOR',
        'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
        'VENDA','LUCRO','MARGEM','RUPTURA GERAL', 'RUPTURA OFERTA','TROCA']]


comercial.loc[comercial['NOME DO RECEBEDOR'].isin(['MARCOS A BACELAR','CAIO PORTO RAPOZO SILVA','CARLOS ANDRE ARAUJO DA SILVA','MATHEUS DE FARIAS SILVEIRA','ALEXANDRE DUTRA CLEMENTE']),'VENDA' ] = 'V'


comercial.loc[comercial['NOME DO RECEBEDOR'].isin(['MARCOS A BACELAR','WANDERLEY PEREIRA','CAIO PORTO RAPOZO SILVA','CARLOS ANDRE ARAUJO DA SILVA','MATHEUS DE FARIAS SILVEIRA',
                                                   'RAIANA COUTINHO DA SILVA','ALEXANDRE DUTRA CLEMENTE','JULIANA LIMA RAMOS']),'LUCRO' ] = 'V'

comercial.loc[comercial['NOME DO RECEBEDOR'].isin(['WANDERLEY PEREIRA','CARLOS ANDRE ARAUJO DA SILVA','RAIANA COUTINHO DA SILVA','JULIANA LIMA RAMOS']),'MARGEM' ] = 'V'


comercial.loc[comercial['NOME DO RECEBEDOR'].isin(['MARCOS A BACELAR','WANDERLEY PEREIRA','CARLOS ANDRE ARAUJO DA SILVA','MATHEUS DE FARIAS SILVEIRA',
                                                   'RAIANA COUTINHO DA SILVA','VENANCIO MOTA MITIDIERI','JULIANA LIMA RAMOS']),'RUPTURA GERAL' ] = 'V'


comercial.loc[comercial['NOME DO RECEBEDOR'].isin(['MATHEUS DE FARIAS SILVEIRA']),'RUPTURA OFERTA' ] = 'V'


comercial.loc[comercial['NOME DO RECEBEDOR'].isin(['WANDERLEY PEREIRA','ALEXANDRE DUTRA CLEMENTE']),'TROCA' ] = 'V'

comercial.fillna("X", inplace=True)
df.loc[df["REFERÊNCIA QUE GEROU O PAGAMENTO"] == "Premiação Comercial, ref.: OUT de 2025",comercial.columns] = comercial.values

In [207]:
#PREVENCAO

prev = df[df['SETOR'] == 'PREVENÇÃO']

prev =prev[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'QUEBRA', 'QUEBRA REGISTRADA']]



prev.loc[prev['Seqloja'].isin([4]),'QUEBRA' ] = 'V'
prev.loc[prev['Seqloja'].isin([4]),'QUE' \
'BRA REGISTRADA' ] = 'V'
prev.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'PREVENÇÃO',prev.columns] = prev.values

In [208]:
#REGIONAIS

reg = df[df['SETOR'].isin(['REGIONAL - LOJAS RJ', 'REGIONAL - LOJAS SG/NIT'])]

reg =reg[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO', 'RUPTURA GERAL', 'TROCA', 'QUEBRA', 'QUEBRA REGISTRADA' ]]

reg.loc[reg['Seqloja'].isin([1,10]),'VENDA' ] = 'V'
reg.loc[reg['Seqloja'].isin([]),'LUCRO' ] = 'V'
reg.loc[reg['Seqloja'].isin([1,10]),'RUPTURA GERAL' ] = 'V'
reg.loc[reg['Seqloja'].isin([1,10]),'TROCA' ] = 'V'
reg.loc[reg['Seqloja'].isin([1]),'QUEBRA' ] = 'V'
reg.loc[reg['Seqloja'].isin([1]),'QUEBRA REGISTRADA' ] = 'V'
reg.fillna("X", inplace=True)
df.loc[df['SETOR'].isin(['REGIONAL - LOJAS RJ', 'REGIONAL - LOJAS SG/NIT']), reg.columns] = reg.values

In [209]:
#GERENCIAL

ge = df[df['SETOR'] == 'GERENCIAL']

ge =ge[["Cadastro",'Seqloja', 'SETOR',
       'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1',           
       'VENDA', 'LUCRO', 'MARGEM','QUEBRA', 'QUEBRA REGISTRADA', 'TROCA']]

ge.loc[ge['Seqloja'].isin([1,8,10,11,12,13,15,17,21,23,24,19]),'VENDA' ] = 'V'
ge.loc[ge['Seqloja'].isin([10,12,15,21]),'LUCRO' ] = 'V'
ge.loc[ge['Seqloja'].isin([21]),'MARGEM' ] = 'V'
ge.loc[ge['Seqloja'].isin([4,]),'QUEBRA' ] = 'V'
ge.loc[ge['Seqloja'].isin([4,]),'QUEBRA REGISTRADA' ] = 'V'
ge.loc[ge['Seqloja'].isin([1,12,17,19]),'TROCA' ] = 'V'
ge.fillna("X", inplace=True)
df.loc[df['SETOR'] == 'GERENCIAL', ge.columns] = ge.values

In [210]:
#COORDENADORES

coord = df[df['SETOR'].str.contains('coord', case=False, na=False)]

coord =coord[['Cadastro', 'Seqloja', 'Natureza RH', 'Natureza', 'SETOR',
       'REFERÊNCIA QUE GEROU O PAGAMENTO', 'AUTORIZADOR',
       'RESPONSÁVEL EM TRAZER O RECIBO', 'NOME DO RECEBEDOR', 'LOJA',
       'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 'SETOR.1', 'LOJA.1',
        'COORDENADOR']]

coord['COORDENADOR'] =  (coord['VALOR CASH'] + coord['VALOR $ RECEBIDO  WIIPO']) / 2200
coord.loc[coord["NOME DO RECEBEDOR"] == "JONES RODRIGUES DA SILVA","COORDENADOR"] = (coord['VALOR CASH'] + coord['VALOR $ RECEBIDO  WIIPO']) / 5000
coord.loc[coord["NOME DO RECEBEDOR"] == "LEANDRO OLIVEIRA DA CRUZ SOUZA","COORDENADOR"] = (coord['VALOR CASH'] + coord['VALOR $ RECEBIDO  WIIPO']) / 4000

coord.fillna("X", inplace=True)
df.loc[df['SETOR'].str.contains('coord', case=False, na=False), coord.columns] = coord.values

In [211]:
df['SETOR'].sort_values().unique()

array(['ATACADO', 'AÇOUGUE', 'AÇOUGUE - CORTES', 'CARGA SECA',
       'COMERCIAL', 'COORDENAÇÃO AÇOUGUE', 'COORDENAÇÃO COZINHA',
       'COORDENAÇÃO FLV', 'COORDENAÇÃO FRENTE DE LOJA',
       'COORDENAÇÃO LATICÍNIOS', 'COORDENAÇÃO PADARIA',
       'COORDENAÇÃO PREVENÇÃO', 'COZINHA', 'CPD', 'DEPOSISTA', 'FLV',
       'FRENTE DE LOJA', 'GELADOS', 'GERENCIAL', 'GERENCIAL - MERCEARIA',
       'IFOOD', 'LATICÍNIOS', 'LOGÍSTICA', 'LOGÍSTICA-SEPARADORES',
       'MERCEARIA', 'PADARIA', 'PREVENÇÃO', 'PRICE',
       'REGIONAL - LOJAS RJ', 'REGIONAL - LOJAS SG/NIT', 'SALGADOS'],
      dtype=object)

In [212]:
df.fillna('N',inplace=True)

C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2479652558.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'N' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna('N',inplace=True)
C:\Users\wallace.souza\AppData\Local\Temp\ipykernel_20656\2479652558.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'N' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('N',inplace=True)

In [213]:
df.to_excel(r"C:\Users\wallace.souza\Desktop\scorecard1.xlsx")