In [232]:
import pandas as pd

df = pd.read_excel(r"P:\Indicadores\Abastecimento\Ponto extra\12 - DEZEMBRO - 2025\PONTO EXTRA COMERCIAL - DEZEMBRO 2025.xlsx", sheet_name="Ponto Extra - Geral")
df1 = pd.read_excel(r"P:\Indicadores\Abastecimento\Ponto extra\12 - DEZEMBRO - 2025\PONTO EXTRA COMERCIAL - DEZEMBRO 2025.xlsx", sheet_name="Ponto Extras - Piratininga")
df2 = pd.read_excel(r"P:\Indicadores\Abastecimento\Ponto extra\12 - DEZEMBRO - 2025\PONTO EXTRA COMERCIAL - DEZEMBRO 2025.xlsx", sheet_name="Ponto Extras - Nova América")

In [233]:
df.columns = df.loc[8]

In [234]:
df = df[['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção',
       'Contratos', 'Fonseca', 'Itaipu', 'Porto Novo', 'Batalha',
       'Porto Velho', 'Engenho', 'Barreto', 'Cafubá', 'Santa Cruz', 'Lote XV',
       'Nova Iguaçu', 'Mesquita ', 'Valverde', 'Inhauma', 'Curtume',
       'Campo Grande']]

In [235]:
df = df[9:]

In [236]:
df['Código'] = df['Código'].astype(str)

df = (
    df.assign(Código=df['Código'].str.split('/'))
      .explode('Código')
      .reset_index(drop=True)
)

In [237]:
df.columns

Index(['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Contratos',
       'Fonseca', 'Itaipu', 'Porto Novo', 'Batalha', 'Porto Velho', 'Engenho',
       'Barreto', 'Cafubá', 'Santa Cruz', 'Lote XV', 'Nova Iguaçu',
       'Mesquita ', 'Valverde', 'Inhauma', 'Curtume', 'Campo Grande'],
      dtype='object', name=8)

In [238]:
df =df.melt(id_vars=['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção',
       ], value_vars=['Fonseca', 'Itaipu', 'Porto Novo', 'Batalha',
       'Porto Velho', 'Engenho', 'Barreto', 'Cafubá', 'Santa Cruz', 'Lote XV',
       'Nova Iguaçu', 'Mesquita ', 'Valverde', 'Inhauma', 'Curtume',
       'Campo Grande'], var_name='Lojas', value_name='Quantidade')

In [239]:
df = df[df['Quantidade'].notnull()]

In [240]:
df = df[~df['Pontas'].str.contains("ILHA", case=False, na=False)]

In [241]:
df.drop_duplicates(subset=['Código', 'Lojas'], inplace=True)

In [242]:
df

,Pontas,Código,Decrição,Comprador,Seção,Lojas,Quantidade
0,1,50365,CR DENTAL COLGATE MPA CX 120G PRECO ESPECIAL/M...,VENANCIO MOTTA,PERFUMARIA,Fonseca,X
1,1,17075,CR DENTAL SORRISO TRIPLA CX 120G LIMP COMPLETA,VENANCIO MOTTA,PERFUMARIA,Fonseca,X
2,1,21936,CR DENTAL SORRISO CX 120G DENTES BRANCOS,VENANCIO MOTTA,PERFUMARIA,Fonseca,X
3,2,68899,BISC CHOCO BISCUIT GAROTO 78G AO LEITE/ BISC C...,CARLOS ANDRE,BISCOITO,Fonseca,X
4,2,68901,BISC CHOCO BISCUIT GAROTO 78G AO LEITE/ BISC C...,CARLOS ANDRE,BISCOITO,Fonseca,X
...,...,...,...,...,...,...,...
4959,29,30200,CHOCOTTONE BAUDUCCO CX 400G C/GOTAS DE CHOC,CARLOS ANDRE,PADARIA,Campo Grande,X
4984,34,41739,VINHO TTO NAC VERZA 1L SUAVE,MARCOS BACELAR,BEBIDAS ALCOOLICAS,Campo Grande,X
4986,35,4629,MAIONESE SOYA PT 500G,WANDERLEY,CONSERVAS,Campo Grande,X
4987,35,67799,BAT PALHA MINE FOODS 200G (TIPOS),CARLOS ANDRE,BISCOITO,Campo Grande,X
4988,35,67800,BAT PALHA MINE FOODS 200G (TIPOS),CARLOS ANDRE,BISCOITO,Campo Grande,X

In [243]:
df1 =df1[['\nPonto Extra Comercial - Loja de Piratininga', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Pontas']]

In [244]:
df1.columns = df1.iloc[1]

In [245]:
df1 = df1[2:]

In [246]:
df1['Código'] = df1['Código'].astype(str)

df1 = (
    df1.assign(Código=df1['Código'].str.split('/'))
      .explode('Código')
      .reset_index(drop=True)
)

In [247]:
df1.drop_duplicates("Código", inplace=True)

In [248]:
df1 = df1[~df1['Pontas'].str.contains('ilha', case=False, na=False)]

In [249]:
df1

1,Pontas,Código,Decrição,Comprador,Seção,Piratininga
0,1,15877,SUCO INTEG CASA MADEIRA GF 1L UVA,MARCOS,BEBIDAS N ALCOOLICAS,X
1,1,30200,CHOCOTTONE BAUDUCCO CX 400G C/GOTAS DE CHOC/ P...,CARLOS ANDRE,PADARIA,X
2,1,57210,CHOCOTTONE BAUDUCCO CX 400G C/GOTAS DE CHOC/ P...,CARLOS ANDRE,PADARIA,X
3,2,1371,LAVA ROUPAS LIQ OMO 3L LAVAGEM PERFEITA/ LAVA ...,VENANCIO MOTTA,LIMPEZA,X
4,2,10609,LAVA ROUPAS LIQ OMO 3L LAVAGEM PERFEITA/ LAVA ...,VENANCIO MOTTA,LIMPEZA,X
...,...,...,...,...,...,...
111,19,53300,SALG BATATA PRINGLES TB 109G (SABORES),CARLOS ANDRE,BISCOITO,X
112,19,55332,SALG BATATA PRINGLES TB 109G (SABORES),CARLOS ANDRE,BISCOITO,X
113,19,54346,SALG BATATA PRINGLES TB 109G (SABORES),CARLOS ANDRE,BISCOITO,X
114,19,54348,SALG BATATA PRINGLES TB 109G (SABORES),CARLOS ANDRE,BISCOITO,X
115,20,677,CERV LAGER HEINEKEN LT 473ML PURO MALTE,MARCOS,BEBIDAS ALCOOLICAS,X

In [250]:
df2 =df2[['\nPonto Extra Comercial - Loja de Nova América', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Pontas']]

In [251]:
df2.columns = df2.iloc[1]

In [252]:
df2 = df2[2:]

In [253]:
df2['Código'] = df2['Código'].astype(str)

df2 = (
    df2.assign(Código=df2['Código'].str.split('/'))
      .explode('Código')
      .reset_index(drop=True)
)

In [254]:
df2.drop_duplicates(subset='Código', inplace=True)

In [255]:
df1['Piratininga'] = df1['Piratininga']= 'Piratininga'
df2['Nova América'] = df2['Nova América']= 'Nova América'

In [256]:
df = df[['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Lojas']]
print(df.columns)
df1 = df1[['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Piratininga']]
print(df1.columns)
df2 = df2[['Pontas', 'Código', 'Decrição','Comprador', 'Seção', 'Nova América']]
print(df2.columns)

Index(['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Lojas'], dtype='object')
Index(['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Piratininga'], dtype='object', name=1)
Index(['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Nova América'], dtype='object', name=1)

In [257]:
df2.columns = ['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Lojas']
df1.columns = ['Pontas', 'Código', 'Decrição', 'Comprador', 'Seção', 'Lojas']

In [258]:
df3 = pd.concat([df,df1,df2], axis=0)

In [260]:
df3.to_excel(r"C:\Users\wallace.souza\Downloads\ponto_extra.xlsx")

In [265]:
df3[df3['Código'] == 1224]

Empty DataFrame
Columns: [Pontas, Código, Decrição, Comprador, Seção, Lojas]
Index: []