In [28]:
import pandas as pd
import numpy as np

df = pd.read_excel(r"P:\Indicadores\Diagnóstico\Premiações\Recibos de Premiação\2025\Premiação - Recibos - Out25\Recibo rascunho - Outubro - 2025.xlsx")

In [29]:
df1 = pd.DataFrame(df['LOJA'].unique(), columns=['Lojas'])

In [30]:
lojas = ['Fonseca', 'Piratininga', 'Itaipú', 'Santa Cruz', 'Lote XV', 'Porto Novo','Batalha','Nova Iguaçú','Porto Velho','Central',"Engenho",'Mesquita','Valverde','Pavuna','Barreto','Nova América','Inhaúma','Curtume']

In [31]:
df1['Lojas'] = pd.Categorical(df1['Lojas'],categories=lojas, ordered=True)

In [32]:
df1.sort_values(by='Lojas')

           Lojas
3        Fonseca
0    Piratininga
4         Itaipú
6     Santa Cruz
7        Lote XV
8     Porto Novo
9        Batalha
10   Nova Iguaçú
1    Porto Velho
16       Central
11       Engenho
12      Mesquita
13      Valverde
17        Pavuna
14       Barreto
5   Nova América
15       Inhaúma
2        Curtume

In [33]:
b = df[(df['CPF'].isnull()) & (df["NOME DO RECEBEDOR"].notnull())]

In [34]:
cad = pd.read_excel(r"C:\Users\wallace.souza\Downloads\RH\CADASTRO.xlsx")

In [35]:
cad[['Nome',"Descrição (Situação)"]]

                                      Nome Descrição (Situação)
0        ZULEIDE ROCHA NASCIMENTO MONTEIRO          Trabalhando
1                ZIONALDO FERREIRA DE GOIS             Demitido
2           ZILNETE ANTONIA DA COSTA SILVA             Demitido
3                            ZILMAR BRIONE             Demitido
4      ZILMA DA SILVA CAMARA DE FIGUEIREDO             Demitido
...                                    ...                  ...
15646                ABIMAEL DE MELO ROCHA             Demitido
15647              ABIGAIL RODRIGUES BAHIA             Demitido
15648               ABEL HORTENCIO TAVARES             Demitido
15649         ABEL HENRIQUE MALET DA SILVA             Demitido
15650                 ABEL CHISSUCO HATEWA             Demitido

[15651 rows x 2 columns]

In [36]:
b = b.merge(cad[['Nome',"Descrição (Situação)"]], left_on="NOME DO RECEBEDOR", right_on="Nome", how='left')

In [37]:
b[['Natureza RH', 'Natureza', 'SETOR', 'REFERÊNCIA QUE GEROU O PAGAMENTO',
       'AUTORIZADOR', 'RESPONSÁVEL EM TRAZER O RECIBO', 'NOME DO RECEBEDOR',
       'LOJA', 'VALOR CASH', 'VALOR $ RECEBIDO  WIIPO', 'CPF', 
       'Descrição (Situação)']]

Empty DataFrame
Columns: [Natureza RH, Natureza, SETOR, REFERÊNCIA QUE GEROU O PAGAMENTO, AUTORIZADOR, RESPONSÁVEL EM TRAZER O RECIBO, NOME DO RECEBEDOR, LOJA, VALOR CASH, VALOR $ RECEBIDO  WIIPO, CPF, Descrição (Situação)]
Index: []

In [38]:
cad[cad['Nome'].str.contains("WALLACE DO NASCIMENTO", case=False, na=False)]

,Cadastro,Apelido (Filial),Nome,Descrição do Local,Título Reduzido (Cargo),Admissão,Data Afastamento,CPF,Descrição (Situação),Nascimento,Sexo,Descrição (Escala)
425,11973,BELFORD ROXO,WALLACE DO NASCIMENTO CONCEI?çAO,DELIVERY,CHEFE DE DELIVERY,2023-06-21,2025-11-03 00:00:00,16252972703,Férias,1995-12-22,M,06:00 as 14:50 - 6x1